<div class="ab" style="background-image: url(./assets/f.jpg);" >
<div class="card" style="width: 50%;" >
    <img src="{{'data:image/jpg;base64,' +Blogs.url}}" class="card-img-top" alt="...">
    <div class="card-body" >
      <p class="card-text"><strong>Id: </strong>{{ Blogs.id}}</p>
      <p class="card-text"><strong>Title: </strong> {{ Blogs.title }}</p>
      <p class="card-text"><strong>Content: </strong> {{ Blogs.content }}</p>
      <p class="card-text"><strong>Author: </strong> {{ Blogs.author }}</p>
      <p class="card-text"><strong>date </strong> {{ Blogs.date}}</p>
    <p class="card-text"><strong>tags </strong> {{ Blogs.tags }}</p>
      <a routerLink='/posts' class="btn btn-primary">Go Back</a>
    </div>
  </div>
  </div>