<footer class="bg-light text-center text-white" style="background-color: black">
    <div style="background-color: black">
    <div class="container p-4 pb-0" >
    <section class="mb-4">
    <a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com" target="_blank" role="button">
    <i class="fab fa-facebook-f"></i>
    </a>
     
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" target="_blank" role="button">
    <i class="fab fa-twitter"></i>
    </a>
     
                <a class="btn btn-outline-light btn-floating m-1" href="https://google.com" target="_blank" role="button">
    <i class="fab fa-google"></i>
    </a>
     
                <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com" target="_blank" role="button">
    <i class="fab fa-instagram"></i>
    </a>
     
                <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com" target="_blank" role="button">
    <i class="fab fa-linkedin"></i>
    </a>
    </section>
    </div>
     
        <div class="text-center p-3" style="background-color: black">
    <span>© 2024  BtownBlogss.com. All rights reserved.</span>
    </div>
</div>
    </footer>